body{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15vh 70vh 15vh;
    gap: 10px;
} 

img{
    height: 99%;

}
header{
    text-align: center ;
}
nav{
    text-align: center;
    
}
main{
    text-align: center;
}
footer{
    text-align: center;
}